<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty>
      <projectUrl>https://github.com/uglyog/javaz</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git@github.com:uglyog/javaz.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>true</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>true</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -e
env | sort

if [ ! $PIPELINE_BUILD_NUMBER ]
  then 
    printf &apos;\033[0;33;41m                                                                                                        \033[0m\n&apos;
    printf &apos;\033[0;33;41m                         THIS BUILD IS NOT RUNNING AS PART OF A PIPELINE!                               \033[0m\n&apos;
    printf &apos;\033[0;33;41m                                                                                                        \033[0m\n&apos;
    exit 1
fi

if [ $PIPELINE_VERSION ]
  then
    echo Checking out v$PIPELINE_VERSION ...
    git checkout v$PIPELINE_VERSION
    echo HEAD is now: `git log --decorate --format=format:&apos;%H %d&apos; --tags | grep \(HEAD`
fi

sed -i &quot;s/\(&lt;version&gt;\)[^&lt;]*\(&lt;\/version&gt;\)/\1$PIPELINE_VERSION\2/&quot; javaz/pom.xml </command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>clean package -DskipTests=true</targets>
      <mavenName>maven-3.0.4</mavenName>
      <pom>javaz/pom.xml</pom>
      <usePrivateRepository>false</usePrivateRepository>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
      <command>scp -o StrictHostKeyChecking=no javaz/target/*.javaz.dupondi.us:/var/tmp
ssh deployer@canary.javaz.dupondi.us &quot;chown :tomcat /var/tmp/javaz-$PIPELINE_VERSION.war; mv /var/tmp/javaz-$PIPELINE_VERSION.war /var/lib/tomcat7/webapps/ROOT.war&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>sleep 120
curl -fsS http://canary.javaz.dupondi.us:8080/status</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>APP_VERSION=`curl -fsS http://canary.javaz.dupondi.us:8080/status/version`
if [ &quot;$APP_VERSION&quot; -ne &quot;$PIPELINE_VERSION&quot; ]
  then
    echo &quot;Expected $PIPELINE_VERSION but got $APP_VERSION instead&quot;
    exit 1
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>javaz/target/*.war</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
      <downstreamProjectNames>Deploy_To_QA</downstreamProjectNames>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper>
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <org.jenkinsci.plugins.xvfb.XvfbBuildWrapper>
      <installationName>system</installationName>
      <screen>1024x768x24</screen>
      <debug>false</debug>
      <timeout>0</timeout>
      <additionalOptions></additionalOptions>
    </org.jenkinsci.plugins.xvfb.XvfbBuildWrapper>
  </buildWrappers>
</project>