<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Ronald Holshausen</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>4wxZUSFMgB5nBusS7nsjBnhJYJpRMiVvMsZARhwkJ6HZxOPltWoKqDGjvDkt+aQR</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$PaIYxExGr7BcW2j4FSo6gOv7NXIBHI.v2muYuxPgA2lFmdBTItl/2</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>ron@dupondi.us</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>