<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Aaron Triantafyllidis</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>0q+EBPDVWMlPdVPz8oagaKO1wbUs5U9tOlhjQPWrs5jZxOPltWoKqDGjvDkt+aQR</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.openid.OpenIdUserProperty>
      <identifiers>
        <string>http://dius.com.au/openid?id=110009847774842119242</string>
      </identifiers>
    </hudson.plugins.openid.OpenIdUserProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>atriantafyllidis@dius.com.au</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>